.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: navy;
}
.logo {
    font-size: 1.8rem;
    font-weight: bold; 
    color: white;
    font-weight: 500;
    margin-left: 50px;
    font-family: "Sacramento", cursive;
}
.nav-links {
    display: flex;
    gap: 1rem;
    
}
span{
    color: aqua;
    font-family: "Sacramento", cursive;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 20px;
    margin-right: 20px;
    color: white;
    font-weight: 300 bold;
    font-family: Montserrat, sans-serif;
}
.nav-links a:hover {
        color: #007bff;
    }